$color-primary: blue;

$themes: (
  'AAA': '#000',
  'BBB': '#FFF',
  'CCC': '#DDD'
);

@mixin theme-default {
  --color-primary-background: #{$color-primary};
  --color-primary: #{$color-primary};
}
@mixin theme-dark {
  --color-primary-background: #{$color-primary};
  --color-primary: #{$color-primary};
}

:root {
  @include theme-default;
  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
  &.theme-default {
    @include theme-default;
  }

  &.theme-dark {
    @include theme-dark;
  }
}

@each $theme, $color in $themes {
  :root {
    &.theme-#{$theme} {
      --color-primary-background: #{$color};
      --color-primary: #{$color};
      @media (prefers-color-scheme: dark) {
        --color-primary-background: #{$color};
        --color-primary: #{$color};
      }
    }
  }
}
